# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c6208024dc605fd3ab9490a2b449b632c2fbf979cea0254eefba94bf66ff0629144eb284b5fd152d0407af54d6094fa3f8f71dd6a55207f6fa9b1418a024af52

test:
  secret_key_base: c62bf678c4675d6fb9204f37289b0875b953181611643bff9d971b5079770dcf78b6e0e28fedde9fbb1eae03eff3817948eebe43c6dc3def2c2cb114d6b6583f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
